<!DOCTYPE html>
<html ng-app="eLearningApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>eLearning Application</title>
</head>

<body>
  <div>
    <h1>{{ name }}</h2>
    <app-component />
  </div>

  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/js/angular-sanitize.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/app/app.component.js"></script>
  <script src="/app/user.service.js"></script>
</body>

</html>